<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RGB Christmas Tree WebUI</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/main.js" defer></script>
</head>

<body class="p-0 m-0 relative">
    <div id="message-container" class="absolute top-1 w-full"></div>

    <div class="m-auto mt-2 rounded-xl flex flex-col gap-3 lg:w-[500px] w-full bg-neutral-100 p-3">
        <span class="text-xl flex-1 text-center">
            <span class="text-red-500 m-0 p-0">R</span><span class="text-green-500 m-0 p-0">G</span><span
                class="text-blue-500 m-0 p-0">B</span>-Christmas-Tree-WebUI
        </span>
        <div class="bg-neutral-200 rounded-xl flex">
            <button class="p-3 m-1 flex-1 bg-lime-300 rounded-xl" onclick="turnOn()">Turn on</button>
            <button class="p-3 m-1 flex-1 bg-sky-300 rounded-xl" onclick="turnOff()">Turn off</button>
        </div>
        <div class="bg-neutral-200 rounded-xl p-2 flex flex-col gap-2">
            <label for="bcolorPicker" class="block mb-2 text-sm font-medium text-gray-900">Color</label>
            <div class="flex gap-2">
                <input id="colorPicker" type="color" class="w-full" value="#ffffff" />
                <button class="px-2 rounded-full bg-neutral-400" onclick="reapplyColor()">OK</button>
            </div>
            <div class="flex flex-col gap-3">
                <div id="savedColorHolder" class="flex gap-2">
                </div>
                <div>
                    <button class="py-1 px-3 rounded-xl text-white bg-blue-500" onclick="saveColor()">+</button>
                    <button class="py-1 px-3 rounded-xl bg-red-500" onclick="removeColor()">-</button>
                </div>
            </div>
        </div>

        <div class="bg-neutral-200 rounded-xl p-2">
            <label for="brightness-range" class="block mb-2 text-sm font-medium text-gray-900">Brightness</label>
            <input id="brightness-range" type="range" value="0.5" min="0" max="1" step="0.01"
                class="w-full h-2 bg-neutral-300 rounded-xl appearance-none cursor-pointer">
        </div>

        <div class="bg-neutral-200 rounded-xl flex-col p-2">
            <label class="block mb-2 text-sm font-medium text-gray-900">Effects</label>
            <div class="flex">
                <button class="p-3 m-1 bg-neutral-600 text-white rounded-xl" onclick="setEffect('none')">No effect</button>
                <button class="p-3 m-1 bg-blue-300 rounded-xl" onclick="setEffect('breathe')">Breathe</button>
                <button class="p-3 m-1 bg-amber-500 rounded-xl" onclick="setEffect('candle')">Candle lights</button>
                <button class="p-3 m-1 bg-pink-500 rounded-xl" onclick="setEffect('party')">Party</button>
            </div>
        </div>

        <div id="party-parameters" class="bg-neutral-200 rounded-xl p-2 bg-pink-300">
            <label for="party-speed-range" class="block mb-2 text-sm font-medium text-gray-900">Speed</label>
            <input id="party-speed-range" type="range" value="1" min="0" max="5" step="0.05"
                class="w-full h-2 bg-pink-500 accent-pink-800 rounded-xl appearance-none cursor-pointer">
        </div>

    </div>

</body>

</html>